@import "~antd/dist/antd.css";

.vide {
  background-color: rgba(127, 127, 130, 0.699);
}

.description {
  text-align: left;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.541);
  color: rgb(41, 62, 81);
  font-weight: 800;
  border: 1px solid black;
  white-space: pre-line;
}
.information {
  text-align: right;
  vertical-align: middle;
  background-color: rgba(255, 255, 255, 0.541);
  color: rgb(41, 62, 81);
  font-weight: 800;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.informationData {
  text-align: center;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.del,
.swapLeft,
.swapRight {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.del:hover,
.swapLeft:hover,
.swapRight:hover {
  background-color: white;
  color: rgb(0, 125, 130);
}

table {
  border: 1px solid black;
}
table,
td,
th {
  color: rgb(89, 89, 91);
  padding: 5px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12pt;
}
td {
  text-align: center;
  white-space: nowrap;
}
th {
  text-align: center;
  background: radial-gradient(#007d82, #009d63);
  color: white;
  font-weight: 800;
  white-space: pre-line;
}
.div-table-header {
  height: 30px;
  overflow-y: hidden;
  display: flex;
}
.div-text-table-header {
  height: 30px;
  overflow-y: hidden;
  flex: 1;
}
.div-data-wrapper {
  height: 24px;
  overflow: hidden;
}
.div-data-wrapper-double {
  height: 58px;
  overflow: hidden;
  white-space: normal;
}
.bottow-row {
  border-bottom: 1px solid black;
}

#Wrapper {
  width: 99%;
  margin: auto;
  padding: 10 px;
  overflow: hidden; /* add this to contain floated children */
}
#first {
  float: none; /* add this */
  text-align: center;
  color: rgb(41, 62, 81);
  font-weight: 800;
  font-size: 12pt;
  font-family: "Source Sans Pro", sans-serif;
}
#second {
  text-align: center;
}
h1 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24pt;
  font-weight: 800;
  color: rgb(41, 62, 81);
}

body {
  padding: 10px;
}

#filepicker,
#dirpicker {
  display: none;
}
.input-btn {
  margin: 12px;
  padding: 12px;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12pt;
  font-weight: 800;
  color: rgb(41, 62, 81);
}
.input-btn:hover {
  border: 2px solid rgb(41, 62, 81);
  border-radius: 12px;
  padding: 10px;
}

.table-information {
  margin: -1px 0 0 -1px;
  width: 30%;
}
.options {
  margin: 12px;
  padding: 12px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12pt;
  font-weight: 800;
  color: rgb(41, 62, 81);
}
